h1{
    color: pink
  }
  h2{
    font-size: px80;
    background-color: pink ;
    text-align:center ;
  }
  #foto{
    width:80%
  }
  #gema{
    width:80px;
    right:80px;
  }
  #baunillha{
    width:80px;
    right:80px;
  }
  #oleo{
    width:80px;
    right:80px;
  }
  #trigo{
    width:80px;
    right:80px;
  }
  #recheio{
    width:80px;
    right:80px;
  }
  #açucar{
    width:80px;
    right:80px;
  }
  #leite{
    width:80px;
    right:80px;
  }
  #clara{
    width:80px;
    right:80px;
  }
  #fermento{
    width:80px;
    right:80px;
  }
  h4{
    font-size: px80;
    text-align:center ;
  }